OXGame/obj/Debug/App.g.cs
OXGame/obj/Debug/App.g.i.cs
OXGame/obj/Debug/MainWindow.g.cs
OXGame/obj/Debug/MainWindow.g.i.cs
OXGame/obj/Debug/OXGame_MarkupCompile.cache
OXGame/obj/Debug/OXGame_MarkupCompile.lref
OXGame/obj/Debug/OXGame.csprojAssemblyReference.cache
